
    {% if tags %}
    {% if poptags %}
    <p>Tags:</p>
    <ul>
        <h4>All photos:</h4>
        {% for tag in tags %}
        <a>{{tag[0]}}</a>
        {% endfor %}
        <h4>User photos:</h4>
        {% for tag in tags %}
        <a>{{tag[0]}}</a>
        {% endfor %}
        <h4>Popular tags:</h4>
        {% for poptag in poptags %}
        <a>{{poptag[0]}}</a>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}

    {% if photos %}
    {% if comments %}
    <p>Photos:</p>
    <ul>
        {% for photo in photos %}
        <h2>{{photo[2]}}</h2><br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li><br>
            <a href="{{url_for('likePhoto', photoid= photo[1] )}}"><img src="{{url_for('static', filename='thumb.png')}}" align="middle" /></a>
            {%if likes%}
            {% for like in likes %}
                {% if like[0] == photo[1] %}
                <p>Like Count: {{like[1]}}</p>
                {% endif %}
            {% endfor %}
            {% endif %}
            {% if photo[3] != name %}
            <form method="post" action="{{ url_for('add_comment') }}">
                <label for="comment">Comment: </label>
                <input type="text" name="comment"/>
                <!-- <label for="album_name">Album: </label> -->
                <input type="hidden" name="photoid" value="{{photo[1]}}">
                <input type="submit">
              </form>
            {% endif %}  
                {% for comment in comments %}
                    {% if photo[1] == comment[0] %}
                    <li>{{comment[1]}}</li>
                    {% endif %}
                {% endfor %}  
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}

    {% if albums %}
    <p>Albums:</p>
    <ul>
        {% for album in albums %}
        <a>{{album[1]}}</a>

        {% endfor %}
    </ul>
    {% endif %}

    
        
    </head>